@model KOP.WEB.Models.ViewModels.Supervisor.EmployeeViewModel

@{
    Layout = null;
}

<div class="list_menu_container header">
    <ul class="list_menu_wrapper nav">
        <li class="item_menu">
            <button class="link_menu description" id="grade_link_item" onclick="getEmployeeGradeLayout(@Model.EmployeeId)">
                Количественные оценки
            </button>
            <span class="indicator_assessment">
            </span>
        </li>
        @if (Model.IsActiveAssessment)
        {
            <li class="item_menu active">
                <button class="link_menu description" id="assessment_link_item" onclick="getEmployeeAssessmentLayout(@Model.EmployeeId)">
                    Качественные оценки
                </button>
                <span class="indicator_assessment">
                    <i class="fa-regular fa-eye" style="color: #ffffff;"></i>
                </span>
            </li>
        }
        else
        {
            <li class="item_menu">
                <button class="link_menu description" id="assessment_link_item" onclick="getEmployeeAssessmentLayout(@Model.EmployeeId)">
                    Качественные оценки
                </button>
                <span class="indicator_assessment">
                    <i class="fa-regular fa-eye" style="color: #ffffff;"></i>
                </span>
            </li>
        }
    </ul>
</div>

<div class="infoblock_main_container" id="infoblock_main_container">
</div>